html, body{
    height: 100%;
    font-family: 'Oxygen';
    background: black;
    margin: 0;
}
a, a:link, a:visited, a:focus, a:hover, a:active{
    text-decoration:none;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}